SECRET_KEY=fittrack123
DEBUG=True

DB_NAME=fittrack
DB_USER=fittrack
DB_PASSWORD=fittrack
DB_HOST=localhost
DB_PORT=5432

COACH_GENERATOR_PROVIDER=anthropic
COACH_CRITIC_PROVIDER=gemini
COACH_MAX_ITERATIONS=3
ANTHROPIC_API_KEY=
GEMINI_API_KEY=